#signin-container{
    height: 100vh;
    width: 100vw;
}

.banner-container{
    height: 100vh;
    background-image: url('../../assets/images/success-background.svg');
    background-size: contain;
    background-color: var(--color-primary);
}

.banner-container p{
    color: var(--color-text-in-primary);
    font: 400 2rem Poppins;
    max-width: 75%;
}

.form-container{
    background-color: var(--color-background);
    align-items: center !important;
}

.form-container h2{
    color: var(--color-text-title);
    font: 700 3.6rem Poppins;
    max-width: 75%;
}

.form-container form input[type="email"], input[type="password"], input[type="text"]{
    width: 35.2rem;
    height: 5.2rem;
}

.form-container form .form-check input{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.form-container form .form-check{
    display: flex;
    align-items: center;
}

.form-container form .form-check label{
    margin-left: 1rem;
    color: var(--color-text-complement);
}

.form-container .submit{
    width: 35.2rem;
    height: 5.6rem;
    font: 500 2rem Archivo;
    border-radius: 0.8rem;
}

.form-container form a{
    font-size: 1.5rem;
    color: var(--color-text-complement);
}

.top-form{
    width: 75%;
    display: flex;
}

@media (max-width: 780px){
    .banner-container{
        display: none !important;
    }

    .form-container{
        height: 100vh;
        width: 100vw;
        max-width: 100% !important;
        flex: 1 !important;
    }
}