.form-container form input[type="email"], input[type="password"], input[type="text"]{
    width: 35.2rem;
    height: 5.2rem;
}

.form-container form .form-check input{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.form-container form .form-check{
    display: flex;
    align-items: center;
}

.form-container form .form-check label{
    margin-left: 1rem;
    color: var(--color-text-complement);
}

.form-container .submit{
    width: 35.2rem;
    height: 5.6rem;
    font: 500 2rem Archivo;
    border-radius: 0.8rem;
}

.form-container form a{
    font-size: 1.5rem;
    color: var(--color-text-complement);
}